

@media screen and (max-width: 500px) and (max-height: 1200px) {


	.phrase-box {
		width: 300px;
		height: 400px;
		margin: 0 auto;
		background: #36F;
		border-radius: 10px;
		overflow:scroll;
	}
	
	#language-select {
		margin: 0 auto;
		width: 90%;
		height: 20%;
		background: #333314;
		margin-top: 2%;
		border-radius: 10px;
		color:#FF9;
	}
	
	#language-select p {
		font-size: 1.8em;
		font-family: "Gill Sans";
		font-weight: 300;
		text-align: center;
	}
	#language-select p:nth-child(2) {
		font-size:.9em;
		font-weight:500;
		margin-top: -20px;
	}
	
	
	.lang-check-container {
		margin-bottom: 10px;
		text-align: center;
		margin-top: 23px;
	}
	
	.lang-check-container select {
		padding:10px;
		text-align:center;	
		border: 3px solid #824cb7;
		background:transparent;
		box-shadow: 0px 0px 70px white;
		color:#ff6;
	}
	
	#lang-check {
		width:40%;
		margin-top: -20px;
	}
	
	#spanish-phrases, #italian-phrases, #french-phrases {
		margin: 0 auto;
		border: 1px solid white;
	}
	
	
	
	#spanish-phrases thead, #spanish-phrases td, #italian-phrases thead, #italian-phrases td, #french-phrases thead, #french-phrases td {
		font-family:"Gill Sans";
		font-style: italic;
		line-height: 30px;
		color:#ff6;

	}
	
	#spanish-phrases td , #italian-phrases td, #french-phrases td {
		border: 1px solid white;
		background:#333314;
	}
	
}


@media screen and (min-width: 500px) {


	.phrase-box {
		width: 600px;
		height: 600px;
		margin: 0 auto;
		background: #36F;
		border-radius: 10px;

		overflow:scroll;
		
	}
	
	#language-select {
		margin: 0 auto;
		width: 90%;
		height: 20%;
		background: #333314;
		margin-top: 2%;
		border-radius: 10px;
		
	}
	
	#language-select p {
		font-size: 2.3em;
		font-family: "Gill Sans";
		font-weight: 300;
		text-align: center;
		color:#FF9;
	}
	#language-select p:nth-child(2) {
		font-size:1.2em;
		font-weight:500;
		margin-top: -20px;
	}
	
	
	.lang-check-container {
		margin-bottom: 10px;
		text-align: center;
		margin-top: 23px;
		
	}
	
	.lang-check-container select {
		padding:10px;
		text-align:center;	
		border: 3px solid #824cb7;
		background:transparent;
		box-shadow: 0px 0px 70px white;
		color:#ff6;
	}
	
	#lang-check {
		width:40%;
		margin-top: -20px;
	}
	
	#spanish-phrases, #italian-phrases, #french-phrases {
		margin: 0 auto;
		border: 1px solid white;
	}
	
	
	
	#spanish-phrases thead, #spanish-phrases td, #italian-phrases thead, #italian-phrases td, #french-phrases thead, #french-phrases td {
		font-family:"Gill Sans";
		font-style: italic;
		line-height: 30px;
		color:#ff6;

	}
	
	#spanish-phrases td , #italian-phrases td, #french-phrases td {
		border: 1px solid white;
		background:#333314;
	}
	
}


