
@media screen and (min-width: 400px) {
	

	#container {
		width: 500px;
		height: 500px;
		background: #66CCFF;
		margin: 0 auto;
		top: 65px;
		position: relative;
		border-radius:500px;
		border: 5px solid white;
	}
		
		
	#clock {
		width: 150px;
		height: 150px;
		background: #ffff77;
		position: absolute;
		margin: -8% 40% 10% 65%;
		border-radius: 150px;
		border: 5px solid white;
		transition: .6s ease-in-out;
	}
	#clock:hover {
	 	background: #ffffc7;
	 	-webkit-transform: translate(-10%, -15%);
	 	padding:10px;
	}

	#news {
		width: 200px;
		height: 200px;
		background: #fff14f;
		position: absolute;
		margin: 60% 40% 10% 60%;
		border-radius: 200px;
		border: 5px solid white;
		transition: .6s ease-in-out;
	}
	#news:hover {
	 	background: #fff19f;
	 	-webkit-transform: translate(-10%, -15%);
	 	padding:10px;
	}		
	
	#currency {
		width: 110px;
		height: 110px;
		background: #336699;
		position: absolute;
		margin: 85% 15% 20% 25%;
		border-radius: 110px;
		border: 5px solid white;
		transition: .6s ease-in-out;
	}
	#currency:hover {
		background: #FFFF94;
	 	-webkit-transform: translate(-10%, -10%);
	 	padding:10px;
	}
		
	
	#measure {
		width: 130px;
		height: 130px;
		background: #94DBFF;
		position: absolute;
		margin: 30% 10% 30% 85%;
		border-radius: 130px;
		border: 5px solid white;
		transition: .6s ease-in-out;
	}
	#measure:hover {
		background: #995599;
	 	-webkit-transform: translate(-10%, -10%);
	 	padding:10px;
	}
		
	#phrase {
		width: 200px;
		height: 200px;
		background: #ffffaa;
		position: absolute;
		margin: 50% 65% 35% -15%;
		border-radius: 200px;
		border: 5px solid white;
		transition: .6s ease-in-out;
	}
	#phrase:hover {
	 	background: #FF9933;
	 	-webkit-transform: translate(1%, 3%);
	 	padding:10px;
	}
		
	
	#advice {
		width: 170px;
		height: 170px;
		background: #6699cc;
		position: absolute;
		border-radius: 170px;
		margin: 10% 25% -10% -15%;
		border: 5px solid white;
		transition: .6s ease-in-out;
	}
	#advice:hover {
	 	background: #47B5FF;
	 	-webkit-transform: translate(-10%, -15%);
	 	padding:10px;
	}
	
	#weather {
		width: 180px;
		height:180px;
		background: #336699;
		position: absolute;
		border-radius: 180px;
		margin: -15% 10% 10% 20%;
		border: 5px solid white;
		transition: .6s ease-in-out;
		
	}
	#weather:hover {
		background: #5376b9;
	 	-webkit-transform: translate(-10%, -15%);
	 	padding:10px;
	}
		
	
	#phrase-title {
		font-size: 1.5em;
	}
	

	.calculator {
	  width:90px;
	  height:108px;
	  background:#99ccff;
	  border-radius:6px;
	  position:absolute;
	  left:50%;
	  margin-left:-45px;
	  top:50%;
	  margin-top:-54px;
	  box-shadow: 0 2px 0 0px rgba(0,0,0,0.25), inset 0 1px 0 0 rgba(255,255,255,0.2);
	}
	
	.calculator:after {
	  content:"";
	  width:90px;
	  height:31px;
	  background:rgba(0,0,0,0.1);
	  border-top-left-radius:6px;
	  border-top-right-radius:6px;
	  position:absolute;
	  top:4px;
	}
	
	.calculator .display {
	  width:74px;
	  height:20px;
	  background:#868d83;
	  position:absolute;
	  left:50%;
	  margin-left:-37px;
	  top:11px;
	  border-radius:2px;
	  background-image: linear-gradient(45deg, transparent 37px, rgba(0,0,0,0.1) 37px);
	  box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2);
	}
	
	.calculator .controls {
	  font-size:30px;
	  font-weight:bold;
	  color:#908e86;
	  line-height:1em;
	  margin-top:41px;
	  margin-left:15px;
	}
	
	.calculator .controls .big {
	  font-size:50px;
	  line-height:0em;
	}
	
	.calculator .controls .medium {
	  font-size:35px;
	  line-height:0em;
	  color:#908e86;
	  font-weight:bold;
	}
	
	
	/****************** clock ****************/
	
	.clock{
	  width:108px;
	  height:108px;
	  background:#33aadd;
	  border-radius:50%;
	  box-shadow: 0 2px 0 0px rgba(0,0,0,0.25), inset 0 1px 0 0 rgba(255,255,255,0.2);
	  position:absolute;
	  left:50%;
	  margin-left:-54px;
	  top:50%;
	  margin-top:-54px;
	  cursor:pointer;
	}
	
	.clock .circle{
	  content:"";
	  width:84px;
	  height:84px;
	  background:#cccabf;
	  border-radius:50%;
	  position:absolute;
	  left:50%;
	  margin-left:-42px;
	  overflow:hidden;
	  top:50%;
	  margin-top:-42px;
	}
	
	.clock .circle:before{
	  content:"";
	  width:84px;
	  height:84px;
	  background:#edebde;
	  border-radius:50%;
	  position:absolute;
	  left:50%;
	  margin-left:-42px;
	  overflow:hidden;
	  top:50%;
	  margin-top:-37px;
	}
	
	.clock .circle:after {
	  content:"";
	  width:14px;
	  height:14px;
	  background:#4b494f;
	  position:absolute;
	  border-radius:50%;
	  left:50%;
	  margin-left:-7px;
	  top:50%;
	  margin-top:-7px;
	  z-index:5;
	}
	
	.clock .clockwise {
	  width:29px;
	  height:4px;
	  background:#4b494f;
	  position:absolute;
	  top:50%;
	  left:50%;
	  margin-left:6px;
	  margin-top:-2px;
	  transform-origin:-5px 2px;
	  transition:transform 0.5s;
	}
	
	.clock .clockwise:after{
	  content:"";
	  width:21px;
	  height:4px;
	  background:#4b494f;
	  position:absolute;
	  left:-33px;
	  transform-origin:26px center;
	  transform:rotate(50deg);
	}
	
	
	.clock:hover .clockwise, .clock:hover .shadows {
	  transform:rotate(250deg);
	}
	
	
	
	/****************** book ****************/
	
	@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
	
	.book {
	  width:116px;
	  height:124px;
	  background:#336699;
	  border-radius:6px;
	  box-shadow: 0 2px 0 0px rgba(0,0,0,0.25), inset 0 1px 0 0 rgba(255,255,255,0.2);
	  position:absolute;
	  left:45%;
	  margin-left:-48px;
	  top:45%;
	  margin-top:-52px;
	  font-size:100%;
	  color:#6699cc;
	  line-height:150px;
	  text-align:center;
	  font-family: 'Dancing Script', cursive;
	  cursor:pointer;
	}
	
	.book .pages {
	  width:111px;
	  height:50px;
	  position:absolute;
	  top:5px;
	  right:0;
	  border-top-right-radius:5px;
	  border-top-left-radius:2px;
	  border-bottom-left-radius:2px;
	  overflow:hidden;
	  background:#336699;
	}
	
	.book .pages .page {
	  width:111px;
	  height:111px;
	  position:absolute;
	  border-top-right-radius:6px;
	}
	.book .pages .page:nth-child(odd){
	  background:#eeecdf;
	}
	
	.book .pages .page:nth-child(even){
	  background:#d6d4c8;
	}
	
	.book .pages .page:nth-child(2){ top:2px; }
	.book .pages .page:nth-child(3){ top:4px; }
	.book .pages .page:nth-child(4){ top:6px; }
	.book .pages .page:nth-child(5){ top:8px; }
	.book .pages .page:nth-child(6){ top:10px; }
	.book .pages .page:nth-child(7){ top:12px; }
	.book .pages .page:nth-child(8){ top:14px; }
	.book .pages .page:nth-child(9){ top:16px; }
	.book .pages .page:nth-child(10){ 
	  top:18px;
	background-image: -webkit-linear-gradient(left, #114477 0px, #114477 2px, #114477 2px, #114477 4px, #114477 4px);
	background-image: -moz-linear-gradient(left, #114477 0px, #114477 2px, #114477 2px, #114477 4px, #114477 4px);
	background-image: -o-linear-gradient(left, #114477 0px, #114477 2px, #114477 2px, #114477 4px, #114477 4px);
	background-image: linear-gradient(left, #114477 0px, #114477 2px, #114477 2px, #114477 4px, #114477 4px);
	}
	
	.book .pages .page:nth-child(11){ 
	  top:23px;
	  background-image: -webkit-linear-gradient(left, #114477 0px, #114477 2px, #114477 2px, #114477 4px, #336699 4px);
	  background-image: -moz-linear-gradient(left, #114477 0px, #114477 2px, #114477 2px, #114477 4px, #336699 4px);
	  background-image: -o-linear-gradient(left, #114477 0px, #114477 2px, #114477 2px, #114477 4px, #336699 4px);
	  background-image: linear-gradient(left, #114477 0px, #114477 2px, #114477 2px, #114477 4px, #336699 4px);
	}
	
	.book .top:after {
	  content:"";
	  width:2px;
	  height:93px;
	  background:#114477;
	  position:absolute;
	  left:5px;
	  top:31px;
	}
	
	.book .top:before {
	  content:"";
	  width:2px;
	  height:93px;
	  background:#114477;
	  position:absolute;
	  left:7px;
	  top:31px;
	}
	
	.bookmark {
	  width:20px;
	  height:21px;
	  background:#d64646;
	  position:absolute;
	  top:-4px;
	  left:9px;
	}
	
	.bookmark:after {
	  content:"";
	  width:20px;
	  height:10px;
	  background:rgba(0,0,0,0.25);
	  position:absolute;
	  transform:skewX(-45deg);
	  top:21px;
	  left:-5px;
	}
	
	.book:hover .bookmark {
	  transform:translateY(2px);
	  height:19px;
	}
	.book:hover .bookmark:after {
	  transform:translateY(-2px) skewX(-45deg);
	}
	
	
	/****************** map ****************/
	
	.map {
	  width:108px;
	  height:88px;
	  position:absolute;
	  left:50%;
	  margin-left:-54px;
	  top:50%;
	  margin-top:-44px;
	  cursor:pointer;
	}
	
	.map:after {
	  content:"";
	  width:0;
	  height:0;
	  position:absolute;
	  bottom:-10px;
	  right:-2px;
	}
	
	.map .folded{
	  position:absolute;
	}
	
	.map .fold {
	  width:36px;
	  height:88px;
	  background:#99cccc;
	  float:left;
	  box-shadow: 0 2px 0 0px rgba(0,0,0,0.25), inset 0 1px 0 0 rgba(255,255,255,0.2);
	  position:relative;
	}
	
	.map .fold:first-child, .map .fold:last-child {
	  transform-origin:center left;
	  transform:skewY(15deg);
	}
	
	.map .fold:nth-child(2) {
	  transform-origin:center right;
	  transform:skewY(-15deg);
	}
	
	.map .fold .content {
	  width:32px;
	  height:80px;
	  position:absolute;
	  left:4px;
	  top:4px;
	  overflow:hidden;
	}
	
	.map .fold:first-child .content:after {
	  content:"";
	  width:66px;
	  height:66px;
	  background:#ffffaa;
	  position:absolute;
	  transform:rotate(45deg);
	  left:-33px;
	}
	
	.map .fold:first-child .content:before {
	  content:"";
	  width:21px;
	  height:21px;
	  background:#ffffaa;
	  position:absolute;
	  transform:rotate(45deg);
	  left:16px;
	  bottom:-10px;
	}
	
	.map .fold:nth-child(2) .content:after {
	  content:"";
	  width:47px;
	  height:47px;
	  background:#ffffaa;
	  position:absolute;
	  transform:rotate(48deg);
	  top:-28px;
	  left:-2px;
	}
	
	.map .fold:nth-child(2) .content .other {
	  width:98px;
	  height:98px;
	  background:#ffffaa;
	  position:absolute;
	  transform:rotate(50deg);
	  left:25px;
	  top:15px
	}
	
	.map .fold:nth-child(2) .content .other:after {
	  content:"";
	  width:23px;
	  height:23px;
	  background:#ffffaa;
	  position:absolute;
	  bottom:-35px;
	}
	
	.map .fold:last-child .content:after {
	  content:"";
	  width:98px;
	  height:98px;
	  background:#ffffaa;
	  position:absolute;
	  transform:rotate(40deg);
	  left:-7px;
	  top:9px
	}
	
	.map .fold:last-child .content:before {
	  content:"";
	  width:49px;
	  height:49px;
	  background:#ffffaa;
	  position:absolute;
	  transform:rotate(40deg);
	  left:-27px;
	  top:-46px
	}
	
	
	
	.map .pin {
	  width: 32px;
	  height: 32px;
	  border-radius: 50% 50% 50% 0;
	  background: #3399FF;
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 50%;
	  top: 50%;
	  margin: -20px 0 0 -16px;
	  transition:transform 0.5s;
	  -webkit-backface-visibility: hidden;
	}
	
	.map .pin:after {
	  content: "";
	  width: 14px;
	  height: 14px;
	  margin: 9px 0 0 9px;
	  background: rgba(0,0,0,0.35);
	  position: absolute;
	  border-radius: 50%;
	}
	
	.map .pin:hover {
		-webkit-transform: translate(10%);
	}
	
	
	
	
	
	.ruler {
	  width:40px;
	  height:160px;
	  background:#FFFF99;
	  border-radius:6px;
	  position:absolute;
	  left:70%;
	  margin-left:-45px;
	  top:30%;
	  margin-top:-54px;
	  box-shadow: 0 2px 0 0px rgba(0,0,0,0.25), inset 0 1px 0 0 rgba(255,255,255,0.2);
	  transform: rotate(30deg);
	  transition: transform .6s ease-in-out;
	}
	
	.ruler:hover {
		transform: rotate(70deg);
		
	}
	
	.ruler:after {
	  content:"";
	  width:20px;
	  height:150px;
	  background:rgba(0,0,0,0.1);
	  border-radius:6px;
	  position:absolute;
	  top:4px;
	}
	
	.ruler .point {
	  width:15px;
	  height:5px;
	  background:#868d83;
	  position:absolute;
	  top: 5px;
	  background-image: linear-gradient(45deg, transparent 37px, rgba(0,0,0,0.1) 37px);
	  box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.2);
	}
	
	
	.ruler .point:nth-child(2){ top:25px; }
	.ruler .point:nth-child(3){ top:45px; }
	.ruler .point:nth-child(4){ top:65px; }
	.ruler .point:nth-child(5){ top:85px; }
	.ruler .point:nth-child(6){ top:105px; }
	.ruler .point:nth-child(7){ top:125px; }
	.ruler .point:nth-child(8){ top:145px; }
	
	
	
	
	#cloud {
		width: 127px; height: 50px;
		
		background: #f2f9fe;
		background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
		background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
		background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
		background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
		background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
		border-radius: 33px;
		-webkit-border-radius: 33px;
		-moz-border-radius: 33px;
		position: relative;
		margin: 70px auto 7px;
	}
	
	#cloud:after, #cloud:before {
		content: '';
		position: absolute;
		background: white;
		
	}
	
	#cloud:after {
		width: 33px; height: 33px;
		top: -17px; left: 17px;
		border-radius: 33px;
		-webkit-border-radius: 33px;
		-moz-border-radius: 33px;
	}
	
	#cloud:before {
		width: 70px; height: 70px;
		top: -30px; right: 17px;
		border-radius: 67px;
		-webkit-border-radius: 67px;
		-moz-border-radius: 67px;
	}
	
	
	
	
.news {
  width:108px;
  height:94px;
  background:
        linear-gradient(-135deg, #fff14f 7px, transparent 0),
        linear-gradient(135deg, #fff14f 7px, #cccabf 0);
    background-color: #333538;
    background-position: -9px top;
    background-repeat: repeat-x;
    background-size: 14px 94px;
    border-radius:6px;
  position:absolute;
  left:50%;
  margin-left:-54px;
  top:50%;
  margin-top:-47px;
  box-shadow: 0 2px 0 0px rgba(0,0,0,0.25);    
}

.news:after {
  content:"";
  width:0;
  height:0;
  
	border-left: 30px solid transparent;
  position:absolute;
  bottom:-2px;
  right:-2px;
}

.news .flip {
  position:absolute;
  right:0;
  bottom:0;
  width: 0;
	height: 0;
	border-top: 28px solid #e3e1d4;
	border-right: 28px solid transparent;
}

.news .content {
  width:86px;
  height:10px;
  background:#539ebe;
  position:absolute;
  left:50%;
  margin-left:-43px;
  top:20px;
}

.news .content:before {
  content:"";
  width:40px;
  height:50px;
  position:absolute;
  background-color: transparent;
  background-image: linear-gradient(#afafaf 40px, transparent 40px, transparent 45px, rgba(255,255,255,.25) 45px, rgba(255,255,255,.25) 48px);
  background-size: 40px 50px;
  top:15px;
}

.news .content:after {
  content:"";
  width:40px;
  height:50px;
  position:absolute;
  background-color: transparent;
  background-image: linear-gradient(rgba(255,255,255,.25) 0px, rgba(255,255,255,.25) 4px, transparent 4px, transparent 8px);
  background-size: 40px 9px;
  top:15px;
  right:0;
}
	

	
}

@media screen and (max-width: 520px) {

	#container {
		width: 300px;
		height: 300px;
		background: #33CCFF;
		margin-left: 0 auto;
		top: 7em;
		position: relative;
		border-radius:300px;
		border: 2.5px solid white;
	}
	
	#news {
		width: 120px;
		height: 120px;
		background: #57cd68;
		position: absolute;
		margin: 30% 40% 10% 75%;
		border-radius: 120px;
		border: 5px solid white;
		transition: .6s ease-in-out;
	}
	
	#news:hover {
	 	background: #37dd48;
	 	-webkit-transform: translate(-10%, -15%);
	 	padding:10px;
	}		
		
	#clock {
		width: 100px;
		height: 100px;
		background: #3693d8;
		position: absolute;
		margin: -10% 40% 10% 65%;
		border-radius: 100px;
		border: 4px solid white;
		transition: .6s ease-in-out;
	}
	#clock:hover {
	 	background: #1663e8;
	 	-webkit-transform: translate(-10%, -15%);
	 	padding:5px;
	}
		
	
	#currency {
		width: 85px;
		height: 85px;
		background: #FFCC00;
		position: absolute;
		margin: 85% 15% 20% 25%;
		border-radius: 85px;
		border: 4px solid white;
		transition: .6s ease-in-out;
	}
	#currency:hover {
		background: #FFFF00;
	 	-webkit-transform: translate(-10%, -10%);
	 	padding:5px;
	}
		
	
	#measure {
		width: 85px;
		height: 85px;
		background: #dd88CC;
		position: absolute;
		margin: 75% 10% 30% 65%;
		border-radius: 85px;
		border: 4px solid white;
		transition: .6s ease-in-out;
	}
	#measure:hover {
		background: #995599;
	 	-webkit-transform: translate(-10%, -10%);
	 	padding:5px;
	}
		
	#phrase {
		width: 130px;
		height: 130px;
		background: #FFAD5C;
		position: absolute;
		margin: 45% 65% 35% -15%;
		border-radius: 130px;
		border: 4px solid white;
		transition: .6s ease-in-out;
	}
	#phrase:hover {
	 	background: #FF9933;
	 	-webkit-transform: translate(1%, 3%);
	 	padding:5px;
	}
		
	
	#advice {
		width: 105px;
		height: 105px;
		background: #fa7574;
		position: absolute;
		border-radius: 105px;
		margin: 5% 20% -10% -15%;
		border: 4px solid white;
		transition: .6s ease-in-out;
	}
	#advice:hover {
	 	background: #ff5050;
	 	-webkit-transform: translate(-10%, -15%);
	 	padding:5px;
	}
	
	#weather {
		width: 105px;
		height:105px;
		background: #00CC99;
		position: absolute;
		border-radius: 105px;
		margin: -20% 10% 10% 20%;
		border: 4px solid white;
		transition: .6s ease-in-out;
		
	}
	#weather:hover {
		background: #00cc66;
	 	-webkit-transform: translate(-10%, -15%);
	 	padding:5px;
	}
		
	
	#phrase-title {
		font-size: .7em;
	}
	
	.calculator {
	  width:45px;
	  height:54px;
	  background:#d7d4c5;
	  border-radius:3px;
	  position:absolute;
	  left:50%;
	  margin-left:-22.5px;
	  top:50%;
	  margin-top:-27px;
	  box-shadow: 0 1px 0 0px rgba(0,0,0,0.25), inset 0 .5px 0 0 rgba(255,255,255,0.2);
	}
	
	.calculator:after {
	  content:"";
	  width:45px;
	  height:15.5px;
	  background:rgba(0,0,0,0.1);
	  border-top-left-radius:3px;
	  border-top-right-radius:3px;
	  position:absolute;
	  top:2px;
	}
	
	.calculator .display {
	  width:37px;
	  height:10px;
	  background:#868d83;
	  position:absolute;
	  left:50%;
	  margin-left:-18.5px;
	  top:5.5px;
	  border-radius:1px;
	  background-image: linear-gradient(45deg, transparent 37px, rgba(0,0,0,0.1) 18.5px);
	  box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.2);
	}
	
	.calculator .controls {
	  font-size:15px;
	  font-weight:bold;
	  color:#908e86;
	  line-height:1em;
	  margin-top:20.5px;
	  margin-left:7.5px;
	}
	
	.calculator .controls .big {
	  font-size:25px;
	  line-height:0em;
	}
	
	.calculator .controls .medium {
	  font-size:17.5px;
	  line-height:0em;
	  color:#8fb243;
	  font-weight:bold;
	}
	
	
	/****************** clock ****************/
	
	.clock{
	  width:54px;
	  height:54px;
	  background:#33aadd;
	  border-radius:50%;
	  box-shadow: 0 1px 0 0px rgba(0,0,0,0.25), inset 0 .5px 0 0 rgba(255,255,255,0.2);
	  position:absolute;
	  left:50%;
	  margin-left:-27px;
	  top:50%;
	  margin-top:-27px;
	  cursor:pointer;
	}
	
	.clock .circle{
	  content:"";
	  width:42px;
	  height:42px;
	  background:#cccabf;
	  border-radius:50%;
	  position:absolute;
	  left:50%;
	  margin-left:-21px;
	  overflow:hidden;
	  top:50%;
	  margin-top:-21px;
	}
	
	.clock .circle:before{
	  content:"";
	  width:42px;
	  height:42px;
	  background:#edebde;
	  border-radius:50%;
	  position:absolute;
	  left:50%;
	  margin-left:-21px;
	  overflow:hidden;
	  top:50%;
	  margin-top:-18.5px;
	}
	
	.clock .circle:after {
	  content:"";
	  width:7px;
	  height:7px;
	  background:#4b494f;
	  position:absolute;
	  border-radius:50%;
	  left:50%;
	  margin-left:-3.5px;
	  top:50%;
	  margin-top:-3.5px;
	  z-index:5;
	}
	
		
.news {
  width:71.28px;
  height:62px;
  background:
        linear-gradient(-135deg, #37353a 4.62px, transparent 0),
        linear-gradient(135deg, #37353a 4.62px, #cccabf 0);
    background-color: #333538;
    background-position: -6px top;
    background-repeat: repeat-x;
    background-size: 9.24px 62px;
    border-radius:6px;
  position:absolute;
  left:50%;
  margin-left:-35.64px;
  top:50%;
  margin-top:-31px;
  box-shadow: 0 2px 0 0px rgba(0,0,0,0.25);    
}

.news:after {
  content:"";
  width:0;
  height:0;
  border-left: 20px solid transparent;
  position:absolute;
  bottom:-2px;
  right:-2px;
}

.news .flip {
  position:absolute;
  right:0;
  bottom:0;
  width: 0;
	height: 0;
	border-top: 18.5px solid #e3e1d4;
	border-right: 18.5px solid transparent;
}

.news .content {
  width:56.76px;
  height:6.66px;
  background:#539ebe;
  position:absolute;
  left:50%;
  margin-left:-28.38px;
  top:14.5px;
}

.news .content:before {
  content:"";
  width:26.55px;
  height:33px;
  position:absolute;
  background-color: transparent;
  background-image: linear-gradient(#afafaf 40px, transparent 40px, transparent 45px, rgba(255,255,255,.25) 45px, rgba(255,255,255,.25) 48px);
  background-size: 26.55px 33px;
  top:15px;
}

.news .content:after {
  content:"";
  width:26.55px;
  height:33px;
  position:absolute;
  background-color: transparent;
  background-image: linear-gradient(rgba(255,255,255,.25) 0px, rgba(255,255,255,.25) 4px, transparent 4px, transparent 8px);
  background-size: 26.55px 6px;
  top:15px;
  right:0;
}
	
	.clock .clockwise {
	  width:14.5px;
	  height:2px;
	  background:#4b494f;
	  position:absolute;
	  top:50%;
	  left:50%;
	  margin-left:3px;
	  margin-top:-1px;
	  transform-origin:-2.5px 1px;
	  transition:transform 0.5s;
	}
	
	.clock .clockwise:after{
	  content:"";
	  width:10.5px;
	  height:2px;
	  background:#4b494f;
	  position:absolute;
	  left:-16.5px;
	  transform-origin:13px center;
	  transform:rotate(50deg);
	}
	
	
	.clock:hover .clockwise, .clock:hover .shadows {
	  transform:rotate(250deg);
	}
	
	
	
	/****************** book ****************/
	
	@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
	
	.book {
	  width:58px;
	  height:62px;
	  background:#336699;
	  border-radius:3px;
	  box-shadow: 0 1px 0 0px rgba(0,0,0,0.25), inset 0 .5px 0 0 rgba(255,255,255,0.2);
	  position:absolute;
	  left:45%;
	  margin-left:-24px;
	  top:45%;
	  margin-top:-26px;
	  font-size:100%;
	  color:#4b494f;
	  line-height:75px;
	  text-align:center;
	  font-family: 'Dancing Script', cursive;
	  cursor:pointer;
	}
	
	.book .pages {
	  width:55.5px;
	  height:25px;
	  position:absolute;
	  top:2.5px;
	  right:0;
	  border-top-right-radius:2.5px;
	  border-top-left-radius:1px;
	  border-bottom-left-radius:1px;
	  overflow:hidden;
	  background:#336699;
	}
	
	.book .pages .page {
	  width:55.5px;
	  height:55.5px;
	  position:absolute;
	  border-top-right-radius:3px;
	}
	.book .pages .page:nth-child(odd){
	  background:#eeecdf;
	}
	
	.book .pages .page:nth-child(even){
	  background:#d6d4c8;
	}
	
	.book .pages .page:nth-child(2){ top:1px; }
	.book .pages .page:nth-child(3){ top:2px; }
	.book .pages .page:nth-child(4){ top:3px; }
	.book .pages .page:nth-child(5){ top:4px; }
	.book .pages .page:nth-child(6){ top:5px; }
	.book .pages .page:nth-child(7){ top:6px; }
	.book .pages .page:nth-child(8){ top:7px; }
	.book .pages .page:nth-child(9){ top:8px; }
	.book .pages .page:nth-child(10){ 
	  top:9px;
	background-image: -webkit-linear-gradient(left, #336699 0px, #51768f 1px, #749cb5 1px, #749cb5 2px, #3ab43a 2px);
	background-image: -moz-linear-gradient(left, #336699 0px, #51768f 1px, #749cb5 1px, #749cb5 2px, #3ab43a 2px);
	background-image: -o-linear-gradient(left, #336699 0px, #51768f 1px, #749cb5 1px, #749cb5 2px, #3ab43a 2px);
	background-image: linear-gradient(left, #336699 0px, #51768f 1px, #749cb5 1px, #749cb5 2px, #3ab43a 2px);
	}
	
	.book .pages .page:nth-child(11){ 
	  top:11.5px;
	  background-image: -webkit-linear-gradient(left, #336699 0px, #3ab43a 1px, #3ab43a 1px, #3ab43a 2px, #336699 2px);
	  background-image: -moz-linear-gradient(left, #336699 0px, #3ab43a 1px, #3ab43a 1px, #3ab43a 2px, #336699 2px);
	  background-image: -o-linear-gradient(left, #336699 0px, #3ab43a 1px, #3ab43a 1px, #3ab43a 2px, #336699 2px);
	  background-image: linear-gradient(left, #336699 0px, #3ab43a 1px, #3ab43a 1px, #3ab43a 2px, #336699 2px);
	}
	
	.book .top:after {
	  content:"";
	  width:1px;
	  height:46.5px;
	  background:#3ab43a;
	  position:absolute;
	  left:2.5px;
	  top:15.5px;
	}
	
	.book .top:before {
	  content:"";
	  width:1px;
	  height:46.5px;
	  background:#3ab43a;
	  position:absolute;
	  left:3.5px;
	  top:15.5px;
	}
	
	.bookmark {
	  width:10px;
	  height:10.5px;
	  background:#d64646;
	  position:absolute;
	  top:-2px;
	  left:4.5px;
	}
	
	.bookmark:after {
	  content:"";
	  width:10px;
	  height:5px;
	  background:rgba(0,0,0,0.25);
	  position:absolute;
	  transform:skewX(-45deg);
	  top:10.5px;
	  left:-2.5px;
	}
	
	.book:hover .bookmark {
	  transform:translateY(1px);
	  height:9.5px;
	}
	.book:hover .bookmark:after {
	  transform:translateY(-2px) skewX(-45deg);
	}
	
	
	/****************** map ****************/
	
	.map {
	  width:54px;
	  height:44px;
	  position:absolute;
	  left:50%;
	  margin-left:-27px;
	  top:50%;
	  margin-top:-22px;
	  cursor:pointer;
	}
	
	.map:after {
	  content:"";
	  width:0;
	  height:0;
	  position:absolute;
	  bottom:-5px;
	  right:-1px;
	}
	
	.map .folded{
	  position:absolute;
	}
	
	.map .fold {
	  width:18px;
	  height:44px;
	  background:#eae8db;
	  float:left;
	  box-shadow: 0 1px 0 0px rgba(0,0,0,0.25), inset 0 .5px 0 0 rgba(255,255,255,0.2);
	  position:relative;
	}
	
	.map .fold:first-child, .map .fold:last-child {
	  transform-origin:center left;
	  transform:skewY(15deg);
	}
	
	.map .fold:nth-child(2) {
	  transform-origin:center right;
	  transform:skewY(-15deg);
	}
	
	.map .fold .content {
	  width:18px;
	  height:40px;
	  position:absolute;
	  left:2px;
	  top:2px;
	  overflow:hidden;
	}
	
	.map .fold:first-child .content:after {
	  content:"";
	  width:33px;
	  height:33px;
	  background:#ffffaa;
	  position:absolute;
	  transform:rotate(45deg);
	  left:-16.5px;
	}
	
	.map .fold:first-child .content:before {
	  content:"";
	  width:10.5px;
	  height:10.5px;
	  background:#ffffaa;
	  position:absolute;
	  transform:rotate(45deg);
	  left:8px;
	  bottom:-5px;
	}
	
	.map .fold:nth-child(2) .content:after {
	  content:"";
	  width:23.5px;
	  height:23.5px;
	  background:#ffffaa;
	  position:absolute;
	  transform:rotate(48deg);
	  top:-14px;
	  left:-1px;
	}
	
	.map .fold:nth-child(2) .content .other {
	  width:49px;
	  height:49px;
	  background:#ffffaa;
	  position:absolute;
	  transform:rotate(50deg);
	  left:12.5px;
	  top:7.5px
	}
	
	.map .fold:nth-child(2) .content .other:after {
	  content:"";
	  width:11.5px;
	  height:11.5px;
	  background:#ffffaa;
	  position:absolute;
	  bottom:-17.5px;
	}
	
	.map .fold:last-child .content:after {
	  content:"";
	  width:49px;
	  height:49px;
	  background:#ffffaa;
	  position:absolute;
	  transform:rotate(40deg);
	  left:-3.5px;
	  top:4.5px
	}
	
	.map .fold:last-child .content:before {
	  content:"";
	  width:24.5px;
	  height:24.5px;
	  background:#ffffaa;
	  position:absolute;
	  transform:rotate(40deg);
	  left:-13.5px;
	  top:-23px
	}
	
	
	
	.map .pin {
	  width: 16px;
	  height: 16px;
	  border-radius: 50% 50% 50% 0;
	  background: #3399FF;
	  position: absolute;
	  transform: rotate(-45deg);
	  left: 50%;
	  top: 50%;
	  margin: -10px 0 0 -8px;
	  transition:transform 0.5s;
	  -webkit-backface-visibility: hidden;
	}
	
	.map .pin:after {
	  content: "";
	  width: 7px;
	  height: 7px;
	  margin: 4.5px 0 0 4.5px;
	  background: rgba(0,0,0,0.35);
	  position: absolute;
	  border-radius: 50%;
	}
	
	.map .pin:hover {
		-webkit-transform: translate(10%);
	}
	
	.ruler {
	  width:20px;
	  height:80px;
	  background:#FFFF99;
	  border-radius:3px;
	  position:absolute;
	  left:70%;
	  margin-left:-22.5px;
	  top:30%;
	  margin-top:-27px;
	  box-shadow: 0 1px 0 0px rgba(0,0,0,0.25), inset 0 .5px 0 0 rgba(255,255,255,0.2);
	  transform: rotate(30deg);
	  transition: transform .6s ease-in-out;
	}
	
	.ruler:hover {
		transform: rotate(70deg);
		
	}
	
	.ruler:after {
	  content:"";
	  width:10px;
	  height:75px;
	  background:rgba(0,0,0,0.1);
	  border-radius:3px;
	  position:absolute;
	  top:2px;
	}
	
	.ruler .point {
	  width:7.5px;
	  height:2.5px;
	  background:#868d83;
	  position:absolute;
	  top: 2.5px;
	  background-image: linear-gradient(45deg, transparent 18.5px, rgba(0,0,0,0.1) 18.5px);
	  box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.2);
	}
	
	
	.ruler .point:nth-child(2){ top:12.5px; }
	.ruler .point:nth-child(3){ top:22.5px; }
	.ruler .point:nth-child(4){ top:32.5px; }
	.ruler .point:nth-child(5){ top:44.5px; }
	.ruler .point:nth-child(6){ top:55.5px; }
	.ruler .point:nth-child(7){ top:66.5px; }
	.ruler .point:nth-child(8){ top:77.5px; }

	#cloud {
		width: 58.5px; height: 20px;
		
		background: #f2f9fe;
		background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
		background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
		background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
		background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
		background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
		border-radius: 16.5px;
		-webkit-border-radius: 16.5px;
		-moz-border-radius: 16.5px;
		position: relative;
		margin: 30px auto 3.5px;
	}
	
	#cloud:after, #cloud:before {
		content: '';
		position: absolute;
		background: white;
		
	}
	
	#cloud:after {
		width: 16.5px; height: 16.5px;
		top: -8.5px; left: 8.5px;
		border-radius: 33px;
		-webkit-border-radius: 16.5px;
		-moz-border-radius: 16.5px;
	}
	
	#cloud:before {
		width: 30px; height: 30px;
		top: -15px; right: 8.5px;
		border-radius: 33.5px;
		-webkit-border-radius: 33.5px;
		-moz-border-radius: 33.5px;
	}
	
}
	
